* {
    padding: 0px;
    margin: 0px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
    &.light {
        color: #212121;
    }
    &.dark {
        color: #ddf1ff;
    }
}

body {
    &.light {
        background-color: #b1b1b1;
    }
    &.dark {
        background-color: #001a2c;
    }
}
.nav-bar {
    display: grid;
    position: fixed;
    grid-template-columns: 150px auto 30px 120px;
    padding: 20px;
    width: 98vw;

    backdrop-filter: blur(10px);
    > div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    > div > a {
        font-size: 16px;
        text-decoration: none;
        padding: 5px 10px;
        transition: all 500ms;
    }
    &.light {
        background-color: #ffffff5e;
        transition: all 500ms;
        backdrop-filter: blur(10px);
        > div > a {
            color: #212121;
            &:hover {
                color: #c0c0c0;
            }
        }
    }
    &.dark {
        background-color: #00111ccb;
        color: #ddf1ff;
        transition: all 500ms;
        > div > a {
            color: #ddf1ff;
            &:hover {
                color: #ddf1ff7e;
            }
        }
    }
}

.change-theme {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    transition: all 500ms;
    &.light {
        background-color: #161616;
    }
    &.dark {
        background-color: #b1b1b1;
    }
}

.home {
    height: 100vh;
    &.dark {
        background-color: #001a2c;
    }
    &.light {
        background-color: #b1b1b1;
    }
}
